<div class="managment_container container">
  <div class="row">
    <div class="search_container col-12">
      <div class="search-bar mb-3">
        <input
          type="text"
          placeholder="Search by Student ID or Name"
          (input)="searchStudent()"
          [(ngModel)]="searchValue"
          class="form-control"
        />
      </div>
      <h2 class="title">{{ title }}</h2>
      <div *ngIf="isLoading">Loading students...</div>
      <div class="student_grid" *ngIf="!isLoading">
        <div class="student_grid">
          <mat-card
            *ngFor="let student of filteredStudents"
            class="student-card"
          >
            <mat-card-content>
              <div class="student-info">
                <h3>{{ student.name }}</h3>
                <p>{{ student.email }}</p>
                <div class="icons">
                  <div class="icon_gp">
                    <mat-icon (click)="navigateToMeetings(student.id)"
                      >forum</mat-icon
                    >
                    <mat-icon (click)="navigateToMeetings(student.id)"
                      >calendar_today</mat-icon
                    >
                    <mat-icon (click)="navigateToMeetings(student.id)"
                      >edit_note</mat-icon
                    >
                  </div>

                  <a (click)="navigateToMeetings(student.id)" class="more-link"
                    >More</a
                  >
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
