<ng-template #tableSkeleton>
  <app-skeleton
    [type]="'table'"
    [rows]="12"
    [columns]="6"
    [width]="'100%'"
    [height]="'auto'"
  ></app-skeleton>
</ng-template>

<div
  class="create_allocation_container container-fluid"
  *ngIf="!isLoading; else tableSkeleton"
>
  <h2 class="title">{{ title }}</h2>
  <div class="row counte_row d-md-flex align-content-center">
    <div class="col-md-10 text-md-end mb-3 text-sm-center">
      <div class="counte">
        <span class="counte_title">Selected Counts : </span>
        <span class="counte_number m-1">{{
          (selectedStudents$ | async)?.length || 0
        }}</span>
      </div>
    </div>
    <div class="col-2">
      <button
        mat-raised-button
        title="Allocate"
        class="primary-btn"
        (click)="openDialog()"
        [disabled]="(selectedStudents$ | async)?.length === 0"
        matTooltip="Select at least one student to allocate"
      >
        Allocate
      </button>
    </div>
  </div>
  <div class="student_display_container container mt-3">
    <div class="search-bar mb-3">
      <input
        type="text"
        placeholder="Search by Student ID or Name"
        (input)="applyFilter($event)"
        [(ngModel)]="filterValue"
        class="form-control"
      />
    </div>
    <mat-card>
      <div class="table-scroll-container">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="sortData($event)"
          class="mat-elevation-z8 responsive-table"
        >
          <!-- Student ID Column -->
          <ng-container matColumnDef="StudentID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Student ID
            </th>
            <td mat-cell *matCellDef="let row">{{ row.StudentID }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="table-header">
              <mat-checkbox
                [checked]="allSelected"
                (change)="toggleAllCheckboxes()"
                class="header-checkbox"
              ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                [checked]="row.selected"
                (change)="onCheckboxChange(row)"
                [disabled]="isCheckboxDisabled(row)"
              ></mat-checkbox>
            </td>
          </ng-container>

          <!-- Table Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <!-- Pagination -->
      <div class="pagination mt-3">
        <button
          mat-button
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>
        <span
          *ngFor="let page of pages"
          (click)="onPageChange(page)"
          [class.active]="page === currentPage"
        >
          {{ page }}
        </span>
        <button
          mat-button
          (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
      </div>
    </mat-card>
  </div>
</div>
