.search-bar {
  width: clamp(30vw, 100vw, 120vw);
}
.mat-header-row {
  background: var(--background-color);
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination span {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination span.active {
  background-color: #2c2c2c;
  color: white;
  border-color: #2c2c2c;
}

/* Always show sorting arrows */
.mat-sort-header-container {
  display: flex;
  align-items: center;
}

::ng-deep .mat-sort-header-arrow svg {
  opacity: 1 !important; /* Ensure the arrow is always visible */
  visibility: visible !important;
  transition: none !important;
  color: white !important;
  fill: white !important;
}
.mat-sort-header-arrow svg {
  fill: white !important;
}

.mat-sort-header:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  color: rgba(0, 0, 0, 0.38);
}

.mat-mdc-header-cell {
  background-color: #2c2c2c !important;
  color: white;
  border: solid 5px solid white;
  margin-left: 10px;
}

.table-header .header-checkbox {
  color: white !important;
}

.table-header .header-checkbox .mat-checkbox-frame {
  border-color: white !important;
}

.table-header .header-checkbox .mat-checkbox-background {
  background-color: white !important;
}
