<div class="login-container">
    <div class="left">
        <div class="background-container">
            <div class="info">
                <p>eTutoring</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="login-form-container">
            <h1 class="welcome-text">Welcome!</h1>
            <p class="login-subtext">Login to continue your journey with us</p>
            <form action="/login.php" class="login-form" method="post">
                <label>Email</label>
                <input type="email" name="email" required>
                <label>Password</label>
                <input type="password" name="password" required>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <img src="/bottom-wave.svg" class="bottom-wave" alt="Bottom Wave">
</div>

