.sidenav-container {
  display: flex;
  z-index: 1100 !important;
}

.sidenav {
  width: 250px;
  background: var(--background, #1c2526); /* Fallback to match layout */
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.sidenav-collapsed {
  width: 60px;
}

.sidenav-collapsed .mat-expansion-panel {
  pointer-events: none;
}

.mat-sidenav-content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.sidenav-collapsed + .mat-sidenav-content {
  margin-left: 60px;
}

.mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--white, white);
  text-decoration: none;
  text-wrap: wrap;
}

.mat-nav-list a:hover {
  background: #3a3a3a;
  border-radius: 5px;
}

.mat-icon {
  margin-right: 10px;
  color: white;
}

.menu-panel {
  border-radius: 5px;
  margin-bottom: 10px;
}

.menu-text {
  font-size: 16px;
  margin-left: 10px;
  color: var(--white, white);
  text-wrap: wrap;
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--white, white);
}

.mat-expansion-panel-header:hover {
  background: rgba(255, 255, 255, 0.1);
}

.mat-expansion-panel {
  background: transparent;
  color: var(--white, white);
}

.drop_down span {
  color: white !important;
}

.mat-divider {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

.logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

.logout-button mat-icon {
  margin-bottom: 5px;
  font-size: 30px;
}

.sidebar-footer {
  padding: 10px;
  background: var(--background);
}

.mdc-list-item:hover .mdc-list-item__primary-text {
  color: #f3f4f9 !important;
}

.collapsed-item {
  justify-content: center;
}
