/* variables.css */
:root {
  --primary: #f3facb;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #ffffff;
  --black: #000000;
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
  --background: #2c2c2c;
  --drop-shadow: 0px 4px 4px 0px #00000040;
  --fontStyle: Inter;
}
