<mat-card class="groups-card">
  <mat-card-header>
    <mat-card-title>Groups</mat-card-title>
    <!-- <mat-card-subtitle>{{ getTotalGroups() }}</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <p class="d-flex justify-content-between">
      Teacher's Group <span class="ms-auto">{{ groups.teacher_group }}+</span>
    </p>
    <p class="d-flex justify-content-between">
      Class 5th <span class="count_number">{{ groups.class_5th }}</span>
    </p>
    <p class="d-flex justify-content-between">
      Class 6th <span class="count_number">{{ groups.class_6th }}</span>
    </p>
  </mat-card-content>
</mat-card>
